<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mbox</title>
    <% if(locals.mode == "local"){ %>

    <script src="assets/mocha.js"></script>
    <script src="assets/neuron-5.0.0.js"></script>
    <script>
        var global = window;
        neuron.config({
            path:"neurons"
        });
    </script>
    <link rel="stylesheet" href="assets/mocha.css">

    <% }else{ %>

    <script src="http://browserman.dp:9000/public/js/build/lib/mocha.js"></script>
    <script src="<%= server %>/mod/neuron/5.0.0/neuron.js"></script>
    <script>
        neuron.config({
            path:"<%= server %><%= modpath %>"
        });
    </script>
    <link rel="stylesheet" href="http://cdn.staticfile.org/mocha/1.18.2/mocha.min.css">

    <% } %>
</head>
<body>
    <div id="mocha"></div>

    <script>

    mocha.NO_CATCH_EXCEPTIONS = true;
    !window.PHANTOMJS && mocha.setup("bdd");

    <%- scripts %>
    define("<%- name %>@latest/test",<%- JSON.stringify(tests) %>,function(require, exports, module){
        <% tests.forEach(function(test){ %>
            require("<%- test %>")
        <% }); %>
    });

    _use("<%- name %>@latest/test",function(){
        mocha.run();
    });


    </script>
</body>
</html>