<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%- name %></title>
    <script src="assets/mocha.js"></script>
    <script src="assets/neuron-5.0.0.js"></script>
    <script>
        var global = window;
        neuron.config({
            path:"neurons",
            loaded:["<%- name %>@latest"]
        });
    </script>
    <link rel="stylesheet" href="assets/mocha.css">
</head>
<body>
    <div id="mocha"></div>
    <%- html %>
    <script>

    mocha.NO_CATCH_EXCEPTIONS = true;
    !window.PHANTOMJS && mocha.setup("bdd");
    <%- scripts.join("\n") %>
    define("<%- name %>@latest/test",["<%- test %>"],function(require, exports, module){
        require("<%- test %>");
    });

    _use("<%- name %>@latest/test",function(){
        mocha.run();
    });


    </script>
</body>
</html>