<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%- name %></title>
    <script src="node_modules/mocha/mocha.js"></script>
    <script src="/neuron/<%= neuron_version %>/neuron.js"></script>
    <script>
        var global = window;
        neuron.config({
            path:"neurons",
            tree: <%- JSON.stringify(tree) %>,
            loaded:["<%- name %>@<%- version %>"]
        });
    </script>
    <link rel="stylesheet" href="node_modules/mocha/mocha.css">
</head>
<body>
    <div id="mocha"></div>
    <%- html %>
    <script>

    mocha.NO_CATCH_EXCEPTIONS = true;
    !window.PHANTOMJS && mocha.setup("bdd");
    <%- scripts.join("\n") %>
    define("<%- name %>@<%- version %>/test",["<%- test %>"],function(require, exports, module){
        require("<%- test %>");
    });

    _use("<%- name %>@<%- version %>/test",function(){
        mocha.run();
    });


    </script>
</body>
</html>